/* 顶部导航 */
.nav{
    width: 100%;
    height: 30px;
    background: #f2f2f2;
}
.nav ul li i{
    color: #FF0036;
}
.nav ul{
    height: 30px;
    width: 402px;
    float: left;
}
.nav ul li{
    list-style: none;
    color: #999999;
    list-style: none;
    float: left;
    margin-left: 27px;
    line-height: 30px;
}
.nav ul li a,.nav ol li a{
    color: #999999;
    font-size: 14px;
}
.nav ul li a:hover,.nav ol li a:hover{
    text-decoration:underline;
    color: #FF0036;
}
.nav ul li span{
    color: #999999;
    font-size: 14px;
}
.nav ol li .iconfont{
    /* color: #999999; */
    font-size: 5px;
}
.nav ul li .iconfont{
    /* color: #999999; */
    font-size: 5px;
}
.nav ol{
    float: right;
    width: 641px;

}
.nav ol li{
    list-style: none;
    color: #999999;
    list-style: none;
    float: left;
    /* margin-left: 22px; */
    line-height: 30px;
    padding-left: 10px;
    padding-right:10px;
}
.awm{
    background-color: #fff;
}


  /* 小箭头 */
  .nav ol li .arrow {
    transform: rotate(180deg);
    transition: all 0.2s;
  }

  /* 小箭头旋转 */
  /* .title span.arrow {
    transform: rotate(180deg);
    transition: all 0.2s;
  } */

.nav ol li i{
    font-size: 14px;
    color: #FF0036;
}
.line{
    width: 100%;
    height: 1px;
    background-color: #c8baaa;
    margin-top: 50px;
}
.hualianlogo img{
    margin-left: 162px;
    width: 1185px;
    height: 130px;
    width: 950px;
}
.hualianlogo{
    background-color: #fef7fe;
    height: 130px;
}
.all-shangpin{
    float: left;
    width: 140px;
    /* background-color: rgb(253, 253, 253); */
    height: 30px;
    margin-left: 140px;
}
.all-shangpin:hover{
background-color: #fff;
}
.all-shangpin a{
    color: #333;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    padding-left: 28px;
    color: #fff;
}
.all-shangpin a:hover{
 color: #333;
}
.all-shangpin ul{
    float: left;
    height: 30px;
    line-height: 30px;
}
.center-nav{
    width: 100%;
    background-color:#810000 ;
    height: 30px;
}
.center-nav ul li{
  float: left;
}
.center-nav ul li a{
    font-size: 14px;
    color: #fff;
    line-height: 30px;
    padding: 35px;
  }
  .center-nav ul li a:hover{
     color: #333;
  }
  .center-nav ul li:hover{
    background-color: #fff;
  }
.carousel{
    width: 100%;
    height: 1000px;
    overflow: hidden;
}
.carousel ul{
    width: 5760px;
} 
.carousel ul li{
    float: left;
} 
/* .carpon{
    background-color: #f5ece2;
} */
/* .cuopon-left,.cuopon-right{
    float: left;   
    margin-top: 150px; 
} */
.cuopon{
    position: relative;
}
.cuopon-right{
    position: absolute;
    top: 159px;
    left: 761px;
}
.cuopon-right1 img:hover{
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transform: scale(0.95);
}
.cuopon-right2,.cuopon-right3{
    margin-top: 20px;
}
.all-ruqun ul li{
    float: left;
    margin: 24px;
}
.all-ruqun ul{
    margin-left: 90px;
    margin-top: 20px;
}
.all-ruqun{
    margin-top: 20px;
}
.cuopon-right2 img:hover{
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transform: scale(0.95);
}
.cuopon-right3 img:hover{
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transform: scale(0.95);
}
.all-ruqun ul li{
    float: left;
    margin: 24px;
}

.show1{
    width: 74px;
    display: none;
    position: absolute;
    right: 847px;
    top: 30px;
    background: #fff;
    z-index: 93110;
    border: solid #eee;
    border-width: 0 1px 1px;
    line-height: 1.4;
    padding: 8px 10px;
}
.show2{
    width: 74px;
    display: none;
    position: absolute;
    right: 683px;
    top: 30px;
    background: #fff;
    z-index: 93110;
    border: solid #eee;
    border-width: 0 1px 1px;
    line-height: 16px;
    padding: 8px 8px;
}
.show4{
    width: 122px;
    position: absolute;
    right: 442px;
    top: 30px;
    background: #fff;
    z-index: 93110;
    border: solid #eee;
    border-width: 0 1px 1px;
    line-height: 16px;
    padding: 8px 8px;
    /* width: 48px; */
    /* margin-right: 20px; */
    line-height: 22px;
    display: none;
}
.show4 dl:nth-child(1){
    float: left;
    width: 48px;
    margin-right: 20px;
}
.xuxian1{
    width: 115px;
    height: 1px;
    border-bottom: 1px dotted #827777;
}
.show5{
    position: absolute;
    top: 30px; 
    left: 324px;
    width: 1242px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    z-index: 93110;
    /* border: solid #eee; */
    background: #fff;
    height: 150px;
    display: none;
}
.show5 .hide-nav1 dd a:hover{
    text-decoration: underline;
}
.show5 .hide-nav2 dd a:hover{
    text-decoration: underline;
}
.show5 .hide-nav3 dd a:hover{
    text-decoration: underline;
}
.show5 .hide-nav1,.show5 .hide-nav2{
    width: 455px;
    float: left;
    padding-left: 30px;
    padding-top: 30px;
}

.show5 .hide-nav3{
    width: 163px;
    float: left;
    padding-left: 30px;
    padding-top: 30px;
}
.show5 .hide-nav1 h2{
    font-size: 16px;
    color: #f56a00;
}
.show5 .hide-nav2 h2{
    font-size: 16px;
    color: #2263d4;
}
.show5 .hide-nav3 h2{
    font-size: 16px;
    color: #666;
}
.show5 .hide-nav1 dl{
    float: left;
    /* margin-left: -22px; */
    margin-right: 43px;
}
.show5 .hide-nav2 dl{
    float: left;
    /* margin-left: -22px; */
    margin-right: 67px;
}
.show5 .hide-nav3 dl{
    float: left;
    /* margin-left: -22px; */
    margin-right: 30px;
}
.show5 .hide-nav3 dl dd a{
    line-height: 30px;
}
.show5 .hide-nav1 dl dd a{
    line-height: 30px;
}
.show5 .hide-nav2 dl dd a{
    line-height: 30px;
}

.show5 .hide-nav1 dl dd .red{
    background: url(../img/jinglingtu.png);
    width: 9px;
    height: 11px;
    top: -7px;
    right: -9px;
    background-repeat: no-repeat;
    background-position: -37px -11px;
}
.tianmao a{
    width: 150px;
    height: 100px;
    background-image: url(../img/jinglingtu.png);
}

.taobao-nav{
    height: 90px;
    width: 100%;
}

/* a .taobao-nav-img{
    width: 100px;
    height: 100px;
} */
.taobao-nav-a1 img{
    width: 109px;
    height: 45px;
    float: left;
}
.taobao-nav-a1 {   
    float: left;
    margin-top: 23px;
    margin-left: 58px;
}
.taobao-nav-a2 i{
    font-size: 16px;
    color: #f40;
}
.taobao-nav-a2 {
    margin-top: 27px;
    float: right;
    margin-right: 59px;
    color: #404040;
}

.temaijie {
width: 100%;
height: 598px;
overflow: hidden;
}
.temaijie img{
    width: 129%;
    height: 598px;
    margin-left: -287px;
}
.albbjt{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-top: 50px;
}
.albbjt a,i{
  line-height: 40px;
  font-size: 12px;
  color: #666;
  /* padding: 20px; */
}
.albbjt a:hover{
    color: #f40;
  }
.albbjt a{
    padding: 10px;
}
.about p a{
    color: #666;
    margin-left: 10px;
}
.about p span{
    color: rgb(145, 142, 142);
    margin-left: 10px;
}
.about p a:hover{
    color: #f40;
}
.bottom-albb{
    margin-left: 100px;
}

.free{
    width: 990px;
    height: 688px;
    margin: 20px auto;
    /* background-color: #b9cbe9; */
}
.free ul li{
    float: left;
    color: #3c3c3c;
    margin: 0px 33px
}

.free ul {
    height: 53px;
  margin-left: 127px;
}
.free ul li:nth-child(1) span{
    /* width: 24px;
    height: 24px; */
    padding: 6px 10px;
    background-color: #ff0036;
    color: #fff;
    border-radius: 50%;
    /* font-size: 30px; */
    font-weight: 700;
}
.free ul li:nth-child(2) span{
    /* width: 24px;
    height: 24px; */
    padding: 6px 10px;
    background-color: #cccccc;
    color: #fff;
    border-radius: 50%;
    /* font-size: 30px; */
    font-weight: 700;
}
.free ul li:nth-child(3) span{
    /* width: 24px;
    height: 24px; */
    padding: 6px 10px;
    background-color: #cccccc;
    color: #fff;
    border-radius: 50%;
    /* font-size: 30px; */
    font-weight: 700;
}
.free ul li:nth-child(1) i{
    font-weight: 700;
    line-height: 46px;
    font-size: 16px;
    font-weight: 700;
    color: #3e3e3e;
}

.free ul li:nth-child(2) i{
    font-weight: 700;
    line-height: 46px;
    font-size: 16px;
    font-weight: 700;
    color: #cccccc;
}
.free ul li:nth-child(3) i{
    font-weight: 700;
    line-height: 46px;
    font-size: 16px;
    font-weight: 700;
    color: #cccccc;
}
.free ul li:nth-child(4) i{
    font-weight: 700;
    line-height: 46px;
    font-size: 16px;
    font-weight: 700;
    color: #cccccc;
}
.free ul li b{
    /* width: 24px;
    height: 24px; */
    padding: 6px 6px;
    background-color: #cccccc;
    color: #fff;
    border-radius: 50%;
    /* font-size: 30px; */
    font-weight: 700;
 
}

.free ol {
   width: 100%;
   height: 3px;
}
.free ol li{
   float: left;
   width: 165px;
   height: 3px;
   background-color: #e6e6e6;
 }
 .agreement{
     width: 726px;
     height: 464px;
     border: 2px solid;
     border-top: 2px solid #ff0036;
     border-bottom:2px solid #dedede;
     border-left:2px solid #dedede;
     border-right:2px solid #dedede;
     margin-left: 140px;
     margin-top: 50px;
 }
 .agreement p:nth-last-child(1) a{
  float: left;  
 }
 .agreement p:nth-last-child(1) i{
    float: right;  
   }
 .agreement h3{
    font-weight: 700;
    font-size: 15px;
    color: #ff0036;  
    line-height: 25px;  
 }
 .agreement h3:hover{
    text-decoration: underline;   
 }

 .agree{
    width: 64px;
    height: 15px;
    background-color:#ff0036 ;
    padding: 12px 65px;
    color: #fff;
    border-radius: 3px;
    font-weight: 700;
    font-size: 16px;
 }

 .free ol li:nth-child(2){
     background-color:#ff0036 ;
 }
 .video{
  position: relative; 
}
video{
    position: absolute;
    top: 143px;
    left: 391px;
    width: 1135px;
    height: 587px;
}
.yuanchuang,.video,.new,.fengxiangge,.ruoli,.ruliing,.huaiyv,.hot{
    margin-top: -3px;
}
.bottom-nav-wangpu-top{
      width:265px;
      height:40px;
      margin: 0 auto;
}
.bottom-nav-wangpu-top img{
    margin-top: 15px;
    margin-right: 20px;
    float: left;
}
.bottom-nav-wangpu-top span{
    margin-top: 15px;
    color: #999999;
    float: left;
    margin-top: 22px;
}
.bottom-nav-wangpu-top span a{
      color: #000;
}
.line{
    width: 100%;
    height: 1px solid #ccc;
    margin-top: 15px;
}
.commodity{
    width: 197px;
    height: 43px;
    float: left;
}
.yqtb ul li a span{
    width: 50px;
    height: 50px;
    border: 5px solid #e60839;
    float: left;
    border-radius: 50%;
}
.yqtb ul li a span i{
    color: #e60839;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 10px;
}
.yqtb ul li{
    float: left;
    margin: 50px 19px;
}
.yqtb ul{
 margin-left: 115px;
}
.yqtb{
    width: 100%;
    /* height: 300px; */
}

.yqtb ul li a p{
   color: #999999;
   font-size: 17px;
   margin-left: 20px;
}
.yqtb ul li a h3{
    color: #383838;
    font-size: 17px;
    line-height: 26px;
    margin-top: 7px;
    margin-left: 20px;
 }

 /* .bottomnav{
    height:150px ;
    width: 100%;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    color: RGB(136,136,136);
    width: 1210px;
    margin: 0 auto;
} */
.bottomnav{
    height: 229px;
}
.contact{
    margin-left: 146px;
}
.contact dl{
    float: left;
    margin-top:40px;
    margin-right:158px ;
}
.contact dt a{
    color: #646464;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
}
.contact dd a{
    line-height: 20px;
    color: #8b8b8b;
    line-height: 20px;
}
.contact dd a:hover{
   text-decoration: underline;
}
.contact dl img{
   width: 105px;
   height: 105px; 
}
.line2{
    width: 86%;
    height: 1px;
    background-color: #ccc;
    margin-left: 123px;
    margin-top: 170px;
}
.miao{
    position: relative;
    height: 222px;
    background-color: #000000;
    border-top: 2px solid #FF0036;
    /* background: #000;
    text-align: left;
    min-height: 177px; */
}
.miao-bottom{
    margin-left: 96px;
}
.miao-bottom p span,i{
   color: #fff;
   line-height: 38px;
}
.miao h2 img{
    position: absolute;
    top: -27px;
    left: 443px;
}
.redline{
    width: 100%;
    height: 1px;
}
.miao-bottom p a{
    color: #a4a4a4;
    margin-right: 65px;
    line-height: 20px;
}
.miao-bottom p span:hover{
    text-decoration: underline;
}
.miao-bottom p b{
    color: #686868;
    font-weight: 400;
}
tr{
    /* position: absolute; */
    background-size: 0;
    background: url(../img/jinglingtu.png) -9999px -9999px no-repeat;;
    width: 9px;
    height: 11px;
    /* top: -7px;
    right: -9px; */
    background-repeat: no-repeat;
    /* background-position: -37px -11px; */
}